In [9]:
import pandas as pd
from sklearn.model_selection import RepeatedKFold, cross_val_score
from sklearn.linear_model import LinearRegression
from numpy import mean, absolute
from sklearn.preprocessing import MinMaxScaler
HouseData = pd.read_csv('https://raw.githubusercontent.com/TomdeFluiter/StudentsPerformance/refs/heads/main/kc_house_data.csv')
HouseData.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
HouseData = HouseData.dropna()
y = HouseData['price']
X = HouseData.drop('price',axis=1)
X = pd.get_dummies(X, drop_first = True)

cv = RepeatedKFold(n_splits=5, random_state=420)

lm = LinearRegression()
lmscores = cross_val_score(lm,X,y,scoring='neg_mean_absolute_error', cv=cv)

lmMAE = mean(absolute(lmscores))
print('the average prediction error with full data is %.0f' % lmMAE)

the average prediction error with full data is 129302

In [12]:
HouseData = HouseData.dropna()
y2 = HouseData['price']
X2 = HouseData.drop(['price','sqft_living'],axis=1)
X2 = pd.get_dummies(X2, drop_first = True)

cv = RepeatedKFold(n_splits=5, random_state=420)

lm = LinearRegression()
lmscores = cross_val_score(lm,X2,y2,scoring='neg_mean_absolute_error', cv=cv)

lmMAE = mean(absolute(lmscores))
print('the average prediction error with full data is %.0f' % lmMAE)

the average prediction error with full data is 134015

In [15]:
columns = X.columns
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
X = pd.DataFrame(X, columns=columns)

In [23]:
from sklearn.linear_model import Ridge

RidgeModel = Ridge(alpha=100)
scoresridge = cross_val_score(RidgeModel,X,y,scoring='neg_mean_absolute_error', cv=cv)
ridgeMAE = mean(absolute(scoresridge))
print('the average prediction error with full data is %.0f' % ridgeMAE)

the average prediction error with full data is 122613

In [17]:
from sklearn.linear_model import Lasso

LassoModel = Lasso(alpha=80)
scoreslasso = cross_val_score(LassoModel,X,y,scoring='neg_mean_absolute_error', cv=cv)
lassoMAE = mean(absolute(scoreslasso))
print('the average prediction error with full data is %.0f' % lassoMAE)

the average prediction error with full data is 125806